.App {
  text-align: center;
}

.background {
  position: fixed; /*s positioned relative to the viewport, which means it always stays 
  in the same place even if the page is scrolled. The top, right, bottom, and left 
  properties are used to position the element.*/
  width: 100%;
  height: 100%;
  top: 50;
  /*bottom: 0;*/
  left: 0;
  right: 0;
  z-index: -1;
}

.header {
  text-align: center;
  position: relative;
  height: 200px;
  width: 100%;
  color: white;
  font-size: 50px;
  padding-top: 25px;

  /*background-color: purple;
  background-image: url("https://3c1703fe8d.site.internapcdn.net/newman/gfx/news/hires/2018/universe.jpg")*/
 }

.card {
  position: relative;
  height:auto;
  width: auto;
  background: rgba(204, 204, 204, 0.5);

}

.accordion {
  background: rgba(204, 204, 204, 0.5);
}

.accordionitem {
  background: rgba(204, 204, 204, 0.5);
  padding-bottom: 5px;
  padding-top: 3px;
}

h2 {
  color: black;
  text-shadow:
    -1px -1px 0 #ffd700,
    1px -1px 0 #ffd700,
    -1px 1px 0 #ffd700,
    1px 1px 0 #ffd700;

}

.bio {
  color: black;
}

p {
  color: black;
  /*text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;*/
}

.pages{
  position: relative;
  color: white;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.pagebuttons {
  position: relative;
  /*height: 200px;
  width: 100%;*/
  /*color: white;
  font-size: 50px;*/
 /* padding-top: 25px;*/
}
